
.vesta-icon-container {
    position: relative;
    top: 0.2em;
    display: inline-block;
    border-radius: 1.5em;
    width: 1em;
    height: 1em;
    .icon {
        color: #000;
        width: 52%;
        height: 52%;
        position: absolute;
        top: 21.5%;
        left: 11%;
        border-bottom: solid 0.1em currentColor;
        border-right: solid 0.1em currentColor;
        transition: all 150ms linear;
        -moz-transition: all 150ms linear;
        -webkit-transition: all 150ms linear;
        -o-transition: all 150ms linear; /* Opera */
        -ms-transition: all 150ms linear; /* IE 9 */
        transform: rotate(-45deg);
        -moz-transform:    rotate(-45deg); /* Firefox */
        -webkit-transform: rotate(-45deg); /* Webkit */
        -o-transform:      rotate(-45deg); /* Opera */
        -ms-transform:     rotate(-45deg); /* IE 9 */
    }
    .expanded {
        top: 11.5%;
        left: 20%;
        transform:         rotate(45deg); /* CSS3 */
        -moz-transform:    rotate(45deg); /* Firefox */
        -webkit-transform: rotate(45deg); /* Webkit */
        -o-transform:      rotate(45deg); /* Opera */
        -ms-transform:     rotate(45deg); /* IE 9 */
    }
}

.vesta-icon-container:hover {
    background-color: rgb(245, 243, 243);
}
